img {
    width: 400px;
    height: 400px;
}

h2 {
    text-align: center;
    padding: 2%;
    font-family: 'Gill Sans', monospace;
}

h3 {
    font-family: 'Gill Sans', monospace;
}

h5 {
    font-family:'Gill Sans', monospace;
}

h6 {
    font-family:'Gill Sans', monospace;
}

p {
    font-family: 'Courier New', monospace;
}

#characters {
    height: 100vh;
    overflow-y: auto; 
    background-color: lightgray;
}

#homepage {
    height: 100vh;
    overflow-y: auto; 
    background-color: lightgray;
    width: 100%;
}

#character_center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box {
    float: left;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
  }
